<% include ../partials/header %>

<section id="rtw-title-section">
  <div>
    <h1>Create a <span>Repositorie</span></h1>
    <p>First create your own GitHub repositorie...</p>
  </div>
  <div class="rtw-join-repo">
    <h1>Join a existing <span>Repositorie</span></h1>
    <p>...Or join existing one.</p>
  </div>
</section>

<main>
  <section>
    <form id="rtw-create-repo" action="/dashboard" method="post">
      <label for="repo-name">Name</label>
      <input type="text" name="repo-name">

      <label for="repo-description">Description</label>
      <input type="text" name="repo-description">

      <button type="submit">Create Repo</button>
    </form>
  </section>
  <section>
    <a href="/join-dashboard">Join Repo</a>
  </section>
</main>

<% include ../partials/footer %>
