<% include ../partials/header %>

<header>
  <p>Need help getting started? Type <span>/help</span>. Or look on <a href="https://developer.mozilla.org/nl/docs/Web/HTML" target="_blank">MDN</a>.</p>
</header>

<main>
  <section>
    <h3>Terminal</h3>
    <form id="rtw-text-editor-form" action="">
      <input id="rtw-text-editor" autocomplete="off"><button>Send</button>
    </form>
    <div id="rtw-text-editor-output"></div>
  </section>

  <section>
    <div class="rtw-chat-box-output">
      <ul id="rtw-chat-messages"></ul>
    </div>
    <form id="rtw-chat-box-form" action="">
      <input id="rtw-chat-box" autocomplete="off" placeholder="Send a message"><button>Send</button>
    </form>
  </section>
</main>


<% include ../partials/footer %>
