<% include ../partials/header %>

<header>
  <h1>Learn <span>HTML</span> Together</h1>
  <p>Learn how to write HTML together without the need of a text editor. You can start writing right here in your browser!</p>
  <p>Need help getting started? Type <span>/help</span>. Or look on <a href="https://developer.mozilla.org/nl/docs/Web/HTML" target="_blank">MDN</a>.</p>
</header>

<main>
  <section>
    <h3>Create a repo</h3>
    <form id="rtw-create-repo" action="/dashboard" method="post">
      <label for="repo-name">Name</label>
      <input type="text" name="repo-name">

      <label for="repo-description">Description</label>
      <input type="text" name="repo-description">

      <button type="submit">Create Repo</button>
    </form>

    <h3>Terminal</h3>
    <form id="rtw-text-editor-form" action="">
      <input id="rtw-text-editor" autocomplete="off"><button>Send</button>
    </form>
    <div id="rtw-text-editor-output"></div>
  </section>

  <section>
    <div class="rtw-chat-box-output">
      <ul id="rtw-chat-messages"></ul>
    </div>
    <form id="rtw-chat-box-form" action="">
      <input id="rtw-chat-box" autocomplete="off" placeholder="Send a message"><button>Send</button>
    </form>
  </section>
</main>


<% include ../partials/footer %>
