<% include ../partials/header %>

<section id="rtw-title-section"></section>

<main>
  <section class="rtw-source-code">
    <h3>Terminal</h3>
    <form id="rtw-text-editor-form" action="">
      <input id="rtw-text-editor" class="rtw-source-code" autocomplete="off"><button>Send</button>
    </form>
    <div id="rtw-text-editor-output"></div>
  </section>

  <section class="rtw-source-code">
    <h3>Chat</h3>
    <div class="rtw-chat-box-output">
      <ul id="rtw-chat-messages"></ul>
    </div>
    <form id="rtw-chat-box-form" action="">
      <input id="rtw-chat-box" autocomplete="off" placeholder="Send a message"><button>Send</button>
    </form>
  </section>
</main>

<footer></footer>

<% include ../partials/footer %>
