<% include ../partials/header %>

<header>
  <h1>Learn <span>HTML</span> Together</h1>
  <p>Learn how to write HTML together without the need of a text editor. You can start writing right here in your browser!</p>
</header>

<main>
  <a class="rtw-github-login" href="https://github.com/login/oauth/authorize?client_id=858ee90bdd14f311d9d2&redirect_uri=http://localhost:3000/redirect"><i class="fab fa-github"></i> Sign in with Github</a>
</main>

<% include ../partials/footer %>
